守望相助，共克时艰
温馨提醒您及时登录“计算机系党委疫情防控信息系统”，完成今日健康打卡！

点击以下链接可进行相应操作：

<a href="https://r.cs.tsinghua.edu.cn/record/add/" style="font-size: 150%">每日健康打卡</a>
<a href="https://r.cs.tsinghua.edu.cn/entry/" style="font-size: 150%">进入楼宇申请</a>
<a href="https://r.cs.tsinghua.edu.cn/profile/" style="font-size: 150%">个人基本信息</a>

感谢您对疫情防控工作的大力配合和支持！
